@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.carousel .slide {
  display: flex;
  justify-content: center;
}

.buttons {
  position: absolute;
  align-self: center;
  background: #F9F7F4;
  border: 1px solid rgb(26, 27, 29);
  cursor: pointer;
  height: 30px;
  line-height: 1;
  text-align: center;
  width: 70px;
  padding: 5px 10px;
  &:hover {
    background: transparent;
  }
}

@keyframes MoveUpDown {
  50% {
    transform: translateY(-5px)
  }
}

@keyframes slide {
  10% {
    opacity: 1
  }

  20% {
    opacity: 1
  }

  30% {
    opacity: 0
  }

  40% {
    transform: scale(1.1)
  }
}
